.button-return {
  cursor: pointer;
  background-color: rgb(179, 20, 47);
  border: solid 1px transparent;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  align-self: center;
}
.button-return:hover {
  border: solid 1px aliceblue;
}
